.class{
    position:center
}
#wordle {
    text-align: center;
    color: white;
}

#edition {
    text-align: center;
    color:white;
}
#kittybody{
    background-image: url("463fa031-ff9a-41d5-8c3f-9ead809ea9f0.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#kuromibody{
    background-image: url('𝙺𝚞𝚛𝚘𝚖𝚒.jpeg');
  background-position: center;
    background-repeat: no-repeat;
    background-size: cover;  
}
#mymelodybody{
    background-image: url("4309ba29-940c-455f-8ce9-894c97840139.jpeg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#mimmybody{
    background-image: url("Today is Brothers Day! Hello Kitty will enjoy the….jpeg");
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.startpage{
    background-image: url("🌷Wallpaper Hello Kitty and friends🌷.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#kitty-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.kitty-letterbox{
border: 2px solid grey;
border-radius: 3px;
display: flex;
height:3rem;
width: 3rem;
font-weight: 700;
justify-content: center;
align-items:center;
text-transform: uppercase;
}
#mymelody-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mymelody-letterbox{
border: 2px solid grey;
border-radius: 3px;
display: flex;
height:3rem;
width: 3rem;
font-weight: 700;
justify-content: center;
align-items:center;
text-transform: uppercase;
}
#mimmy-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.mimmy-letterbox{
border: 2px solid grey;
border-radius: 3px;
display: flex;
height:3rem;
width: 3rem;
font-weight: 700;
justify-content: center;
align-items:center;
text-transform: uppercase;
}
#kuromi-board{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.kuromi-letterbox{
border: 2px solid grey;
border-radius: 3px;
display: flex;
height:3rem;
width: 3rem;
font-weight: 700;
justify-content: center;
align-items:center;
text-transform: uppercase;
}
.filled-box{
    border: 2px solid black;
}
.kitty-row{
    display: flex;
}
.kuromi-row{
    display: flex;
}
.mimmy-row{
    display: flex;
}
.mymelody-row{
    display: flex;
}
#keyboard{
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline;
}
.second-row{
    margin: 0.5rem 0;
}
.keyboard-button{
    font-size: 1rem;
    font-weight: 700;
    padding: 0.5rem;
    margin: 0 2px;
    cursor: pointer;
    text-transform: uppercase;
}

